---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ScrollReveal from "../components/ScrollReveal.astro";
import AnimatedFAQ from "../components/AnimatedFAQ.astro";
---

<BaseLayout title="FAQ – Alexandra Coirier" description="Questions fréquentes sur la sophrologie, les séances et les modalités.">
  <Header />

  <main class="mx-auto max-w-5xl px-4 sm:px-6 py-10 md:py-16">

   <AnimatedFAQ />

  </main>

  <Footer />
  <ScrollReveal />
</BaseLayout>